# Program 1

In [23]:
# !pip install numpy 
import numpy as np


# !pip install pandas
import pandas as pd

#!pip install statistics
import statistics as stats

In [24]:
data=pd.read_csv('dd.csv')
data

   num  weight  gender
0    1     112    Male
1    2     190    Male
2    3     145  Female
3    4     205    Male
4    5     105  Female

In [25]:
# Compute the mean
mean = np.mean(data['num'])
mean

3.0

In [26]:
# # Compute the median
median = np.median(data['num'])
median

3.0

In [27]:
# # Compute the mode
mode = stats.mode(data['gender'])
mode

'Male'

In [28]:
# # Compute the variance
variance = np.var(data['num'])
variance

2.0

In [29]:
# # Compute the standard deviation
std_dev = round(np.std(data['num']))
std_dev

1